{% extends 'base.html.twig' %}

{% block title %}Графика по датам{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ include('language-menu.html.twig') }}
        <div class="wrapper-inner">
            <div class="sort-menu">
                Упорядочить галерею: &nbsp;&nbsp;
                по дате&nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="{{ path('app_pictures_tags', {_locale: locale}) }}">по меткам</a>
            </div>

            <h1>Метка {{ tag }}</h1>

            {% if pictures %}
                {% set i = 0 %}
                {% for picture in pictures %}
                    {% if i == 4 %}
                        {% set i = 1 %}
                    {% else %}
                        {% set i = i + 1 %}
                    {% endif %}

                    {% if i == 1 %}
                        <div class="img-str">
                        <div class="img-box first">
                            <a rel="lightbox[gallery]" href="/images/picture/{{ picture.image }}"
                               class="pirobox_gr" title="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"><img
                                        src="/images/picture_gray/{{ picture.imageGray }}"
                                        id="{{ picture.image }}" data-min="{{ picture.imageMin }}" data-gray="{{ picture.imageGray }}" width="200" height="90" class="gr-col"
                                        alt="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"/></a>
                        </div>
                    {% elseif i == 4 %}
                        <div class="img-box last">
                            <a rel="lightbox[gallery]" href="/images/picture/{{ picture.image }}"
                               class="pirobox_gr" title="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"><img
                                        src="/images/picture_gray/{{ picture.imageGray }}"
                                        id="{{ picture.image }}" data-min="{{ picture.imageMin }}" data-gray="{{ picture.imageGray }}" width="200" height="90" class="gr-col"
                                        alt="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"/></a>
                        </div>
                        </div>
                    {% else %}
                        <div class="img-box">
                            <a rel="lightbox[gallery]" href="/images/picture/{{ picture.image }}"
                               class="pirobox_gr" title="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"><img
                                        src="/images/picture_gray/{{ picture.imageGray }}"
                                        id="{{ picture.image }}" data-min="{{ picture.imageMin }}" data-gray="{{ picture.imageGray }}" width="200" height="90" class="gr-col"
                                        alt="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"/></a>
                        </div>
                    {% endif %}
                {% endfor %}

                {% if i != 4 %}
                    </div>
                {% endif %}
            {% endif %}

            <div class="comeback">
                <a href="{{ path('app_pictures', {_locale: locale}) }}" title="Вернуться к списку">Вернуться к списку</a>
            </div>
        </div>
    </div>

    {{ include('footer.html.twig') }}

    <?= $scripts; ?>
{% endblock %}
