{% extends 'base.html.twig' %}

{% block title %}{{ "header_gallery_by_tag" | trans }}{% endblock %}

{% block body %}
    <div class="wrapper">
        {{ include('language-menu.html.twig') }}
        <div class="wrapper-inner">

            <div class="sort-menu">
                {{ "sort_header_gallery" | trans }}: &nbsp;&nbsp;
                <a href="{{ path('app_pictures', {_locale: locale}) }}">{{ "sort_by_date_gallery" | trans }}</a>&nbsp;&nbsp; | &nbsp;&nbsp;
                {{ "sort_by_tags_gallery" | trans }}
            </div>

            <h1>{{ "header_gallery_by_tag" | trans }}</h1>

            {% if tags %}
                <div class="tag-menu-bytag">
                    {% for tag in tags %}
                        {% set tagPictures = tag.getPictures() %}
                        {% if tagPictures | length == 0 %}
                            <span class="tag0">{{ tag.name }}</span>
                        {% elseif tagPictures | length > 10 %}
                            <a class="tag6" href="#tag-{{ tag.name }}">{{ tag.name }}</a>
                        {% else %}
                            <a class="{{ tagClasses[tagPictures | length] }}" href="#tag-{{ tag.name }}">{{ tag.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>

                {% for tag in tagsOrdered %}
                    {% set tagPictures = tag.getPictures() %}

                    <div class="charter">
                        <h2><a class="bytag-h2" id="tag-{{ tag.name }}" name="tag-{{ tag.name }}">{{ tag.name }}</a></h2>
                    </div>

                    {% set i = 0 %}
                    {% for picture in tagPictures %}
                        {% if i == 4 %}
                            {% set i = 1 %}
                        {% else %}
                            {% set i = i + 1 %}
                        {% endif %}

                        {% if i == 1 %}
                            <div class="img-str">
                            <div class="img-box first">
                                <a rel="lightbox[gallery]" href="/files/images/picture/{{ picture.image }}"
                                   class="pirobox_gr" title="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"><img
                                            src="/files/images/picture_gray/{{ picture.imageGray }}"
                                            id="{{ picture.image }}" data-min="{{ picture.imageMin }}" data-gray="{{ picture.imageGray }}" width="200" height="90" class="gr-col"
                                            alt="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"/></a>
                            </div>
                        {% elseif i == 4 %}
                            <div class="img-box last">
                                <a rel="lightbox[gallery]" href="/files/images/picture/{{ picture.image }}"
                                   class="pirobox_gr" title="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"><img
                                            src="/files/images/picture_gray/{{ picture.imageGray }}"
                                            id="{{ picture.image }}" data-min="{{ picture.imageMin }}" data-gray="{{ picture.imageGray }}" width="200" height="90" class="gr-col"
                                            alt="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"/></a>
                            </div>
                            </div>
                        {% else %}
                            <div class="img-box">
                                <a rel="lightbox[gallery]" href="/files/images/picture/{{ picture.image }}"
                                   class="pirobox_gr" title="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"><img
                                            src="/files/images/picture_gray/{{ picture.imageGray }}"
                                            id="{{ picture.image }}" data-min="{{ picture.imageMin }}" data-gray="{{ picture.imageGray }}" width="200" height="90" class="gr-col"
                                            alt="«{{ picture.title }}» / {{ picture.drawnAt | date('Y-m-d') }}"/></a>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if i != 4 %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="comeback">
                <a href="{{ path('app_main', {_locale: locale}) }}" title="{{ "comeback_link_home" | trans }}">{{ "comeback_link_home" | trans }}</a>
            </div>
        </div>
    </div>

    {{ include('footer.html.twig') }}

    <?= $scripts; ?>
{% endblock %}
